@media screen and (min-width: 768px), print {
    body>header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 5vw;
    }
}

body header img {
    width: 6rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media print, screen and (min-width: 768px), print {
    body header img {
        display: inline;
        margin-left: 0px;
        margin-right: 0px;
    }
}

body header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media screen and (min-width: 768px), print {
    body header div {
        flex-direction: row;
        justify-content: space-between;
    }
}

body header nav ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 768px), print {
    body header nav ul {
        flex-direction: row;
        padding-left: 20px;
    }
}

body header nav ul li {
    padding-bottom: 10px;
}

@media screen and (min-width: 768px), print {
    body header nav ul li {
        padding-bottom: 0px;
    }

    body header nav ul li:not(:last-child) {
        margin-right: 20px;
    }
}

main>header {
    display: flex;
    justify-content: center;
}

main>header img {
    width: 80vw;
    margin: 20px 0;
    border-radius: 20px;
}

body>footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 20px;
}

@media screen and (min-width: 768px), print {
    body>footer {
        flex-direction: row;
    }
}

body>footer #notices img {
    width: 6rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px), print {
    body>footer #notices img {
        display: inline;
        margin-left: 0px;
        margin-right: 0px;
    }
}

body>footer #notices>p {
    text-align: center;
}

@media screen and (min-width: 768px), print {
    body>footer #notices>p {
        text-align: start;
    }
}

body>footer nav ul {
    list-style: none;
    padding-bottom: 5px;
}

body>footer nav ul li:not(:last-child) {
    padding-bottom: 10px;
}

body>footer .social-media ul {
    list-style: none;
    width: 100%;
    padding: 0px;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width: 768px), print {
    body>footer .social-media ul {
        justify-content: space-between;
        padding-right: 50px;
    }
}
