body>header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 5vw;
}

body header img {
    width: 6rem;
}

body header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

body header nav ul {
    list-style-type: none;
    display: flex;
}

body header nav ul li {
    margin-right: 20px;
}

main>header {
    display: flex;
    justify-content: center;
}

main>header img {
    width: 80vw;
    margin: 20px 0;
}

#articles {
    margin: 0 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
}

#articles article {
    display: grid;
    grid-template-rows: 335px 1fr 30px;
    gap: 10px;
    position: relative;
    margin: 36px 10px;
    padding: 19px 17px 27px;
    border: 1px solid #d8d8d8;
    border-radius: 20px;
}

#articles article header img {
    width: 100%;
}

#articles article main p {
    position: relative;
    display: block;
    word-wrap: break-word;
    overflow-y: hidden;
    max-height: 6em;
    /* (Number of lines you want visible) * (line-height) */
    line-height: 1.2em;
}

#articles article footer {
    width: 100%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: right;
}

#articles article footer button {
    align-self: center;
    height: 30px;
    width: 30px;
    font-size: 30px;
    border: none;
    background: none;
}

#articles article footer .social-media ul {
    width: 100%;
    list-style-type: none;
    display: flex;
}

#articles article footer .social-media ul li {
    margin-right: 5px;
    font-size: 30px;
}